.list_carousel {
	margin: 0;
	width: 360px;
	position:relative
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	color: #999;
	padding: 0;
	display: block;
	float: left;
}
.list_carousel li  img { max-width:100%}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
	clear:both
}
.clearfix {
	float: none;
	clear: both;
}
.prev {  background: url('../image/icon_slide_3.png') no-repeat  0 0; position:absolute; top:45px; left:0; text-indent:-9999em; display:inline-block; font-size:0; width:8px; height:12px}
.prev:hover { background-position:0 -12px}
.next {background: url('../image/icon_slide_3.png') no-repeat  -8px 0; position:absolute; top:45px; right:0; text-indent:-9999em; display:inline-block; font-size:0; width:8px; height:12px}
.next:hover {  background-position:-8px -12px}
.pager {
	float: left;
	width: 300px;
	text-align: center;
}
.pager a {
	margin: 0 5px;
	text-decoration: none;
}
.pager a.selected {
	text-decoration: underline;
}
.timer {
	background-color: #999;
	height: 6px;
	width: 0px;
}


#static-footer-top {}
#static-footer-top .list_carousel { border:1px solid #d1d1d1; overflow:hidden; margin-bottom:17px;padding:26px 24px 27px;
	-webkit-border-radius: 2px  ;
	-moz-border-radius: 2px  ;
	-khtml-border-radius: 2px ;
	border-radius: 2px ;}
#static-footer-top .list_carousel li { margin-bottom:0; text-align:center}
#static-footer-top .pager { display:none!important}
#static-footer-top .list_carousel .prev {  background: url('../image/icon_slide_home.png') no-repeat  -31px -31px;width:20px; height:20px; top:33px}
#static-footer-top .list_carousel .prev:hover { background-position: 0 -31px}
#static-footer-top .list_carousel .next {background: url('../image/icon_slide_home.png') no-repeat  0 0;width:20px; height:20px; top:33px}
#static-footer-top .list_carousel .next:hover {  background-position:-31px 0}


.boss_related, .boss_featured{ position:relative}
#tab-related .list_carousel , 
.boss_featured .list_carousel{ position:static; padding-bottom:0;}
#tab-related .list_carousel .prev , 
.boss_featured .list_carousel .prev,
.boss_column_filter .list_carousel .prev,
.boss_homecategory_column .prev{  background: url('../image/icon_slide_2.png') no-repeat  -1px -11px;width:6px; height:10px; top:11px; right:34px; left:auto}
#tab-related .list_carousel .prev:hover, 
.boss_featured .list_carousel  .prev:hover,
.boss_column_filter .list_carousel .prev:hover,
.boss_homecategory_column .prev:hover{ background-position: -1px 0}
#tab-related .list_carousel .next ,
 .boss_featured .list_carousel .next,
 .boss_column_filter .list_carousel .next,
 .boss_homecategory_column .next{background: url('../image/icon_slide_2.png') no-repeat  -13px -11px;width:6px; height:10px;top:11px; right:11px;}
#tab-related .list_carousel .next:hover, 
.boss_featured .list_carousel .next:hover ,
.boss_column_filter .list_carousel .next:hover,
.boss_homecategory_column .next:hover{  background-position:-13px 0px}

#tab-related  div.name{ overflow:hidden; width:95%;text-overflow: ellipsis; white-space: nowrap; margin-bottom:5px}
#tab-related  .product-grid .name a { display:inline }
#tab-related   .product-grid > div {min-height:0 }
#tab-related   .boss-tab-related{ margin-left:10px;min-height:0}

.caroufredsel_wrapper {}
.boss_latest .box-content{ position:relative;  }
.boss_latest .list_carousel { position:static; overflow:hidden}
.boss_latest .list_carousel li {text-align:center}
.boss_latest .list_carousel .prev {  background: url('../image/icon_slide_1.png') no-repeat  0 -18px;width:18px; height:18px; top:-8px; left:10px }
.boss_latest .list_carousel .prev:hover{ background-position: 0 0}
.boss_latest .list_carousel .next{background: url('../image/icon_slide_1.png') no-repeat  -18px -18px;width:18px; height:18px;top:-8px; right:10px}
.boss_latest .list_carousel .next:hover {  background-position:-18px 0px}

.boss_column_filter .list_carousel li {text-align:left; padding:0 5px;width: 183px;}
.boss_column_filter .list_carousel .prev { top:-6px; right:16px }
.boss_column_filter .list_carousel .next{ top:-6px; right:0}
.boss_column_filter .list_carousel .name {height:30px; overflow:hidden}

.boss_featured .list_carousel .prev { right:40px}


.boss_homecategory_nonetab .box-content{ position:relative; }
.boss_homecategory_nonetab.list_carousel { position:static; overflow:hidden}
.boss_homecategory_nonetab .list_carousel li {text-align:center}
.boss_homecategory_nonetab .list_carousel .prev {  background: url('../image/icon_slide_4.png') no-repeat  0 -17px;width:10px; height:17px; top:140px; left:20px }
.boss_homecategory_nonetab .list_carousel .prev:hover{ background-position: 0 0}
.boss_homecategory_nonetab .list_carousel .next{background: url('../image/icon_slide_4.png') no-repeat  -10px 0;width:10px; height:17px;top:140px; right:20px}
.boss_homecategory_nonetab .list_carousel .next:hover {  background-position:-10px -17px}

.boss_homecategory_column .next { top:-20px; right:0}
.boss_homecategory_column .prev{ top:-20px; right:20px}

	@media only screen and (min-width: 980px) and (max-width: 1024px) 
	{	 }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	 @media only screen and (min-width: 768px) and (max-width: 980px) {
		.boss_homecategory_nonetab .list_carousel .prev ,
		.boss_homecategory_nonetab .list_carousel .next { top:97px;}	 
		.product-info .list_carousel .prev ,
		.product-info .list_carousel .next { top:29%;}
	 }  