/*========================1200========================== */
	.container { position: relative; margin: 0 auto; padding: 0; width: 1200px;}
    .container .column,
    .container .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row { margin-bottom: 20px; }
	
	 /* Nested Column Classes */
    .column.alpha, .columns.alpha { margin-left: 0; }
    .column.omega, .columns.omega { margin-right: 0; }
	.column.alpha.omega, .columns.alpha.omega {margin-left: 0; margin-right: 0}
   
    /* Base Grid */
    .container .one.column,
    .container .one.columns { width: 30px; }
    .container .two.columns { width: 80px; }
    .container .three.columns { width: 130px; }
    .container .four.columns { width: 180px; }
    .container .five.columns { width: 230px; }
    .container .six.columns { width: 280px; }
    .container .seven.columns { width: 330px; }
    .container .eight.columns { width: 380px; }
    .container .nine.columns { width: 430px; }
    .container .ten.columns { width: 480px; }
    .container .eleven.columns { width: 530px; }
    .container .twelve.columns { width: 580px; }
    .container .thirteen.columns { width: 630px; }
    .container .fourteen.columns { width: 680px; }
    .container .fifteen.columns { width: 730px; }
    .container .sixteen.columns { width: 780px; }
	.container .seventeen.columns { width: 830px; }
    .container .eighteen.columns { width: 880px; }
    .container .nineteen.columns { width: 930px; }
    .container .twenty.columns { width: 980px; }
    .container .twenty-one.columns { width: 1030px; }
    .container .twenty-two.columns { width: 1080px; }
	.container .twenty-three.columns { width: 1130px; }
	.container .twenty-four.columns { width: 1180px; }

    /*.container .one-third.column { width: 320px; }
    .container .two-thirds.column { width: 640px; }*/

    /* Offsets */
    .container .offset-by-one { padding-left: 50px; }
    .container .offset-by-two { padding-left: 100px; }
    .container .offset-by-three { padding-left: 150px; }
    .container .offset-by-four { padding-left: 200px; }
    .container .offset-by-five { padding-left: 250px; }
    .container .offset-by-six { padding-left: 300px; }
    .container .offset-by-seven { padding-left: 350px; }
    .container .offset-by-eight { padding-left: 400px; }
    .container .offset-by-nine { padding-left: 450px; }
    .container .offset-by-ten { padding-left: 500px; }
    .container .offset-by-eleven { padding-left: 550px; }
    .container .offset-by-twelve { padding-left: 600px; }
    .container .offset-by-thirteen { padding-left: 650px; }
    .container .offset-by-fourteen { padding-left: 700px; }
    .container .offset-by-fifteen { padding-left: 750px; }
	.container .offset-by-sixteen { padding-left: 800px; }
    .container .offset-by-seventeen { padding-left: 850px; }
    .container .offset-by-eightteen { padding-left: 900px; }
    .container .offset-by-nineteen { padding-left: 950px; }
    .container .offset-by-twenty { padding-left: 1000px; }
    .container .offset-by-twenty-one { padding-left: 1050px; }
    .container .offset-by-twenty-two { padding-left: 1100px; }
    .container .offset-by-twenty-three { padding-left: 1150px; }

   
/* #Tablet (Portrait)
/*========================768px <= width < 960px ========================== */
    @media only screen and (min-width: 768px) and (max-width: 980px) {
    .container { width: 720px }
        /* Base Grid */
    .container .one.column,
    .container .one.columns { width: 10px; }
    .container .two.columns { width: 40px; }
    .container .three.columns { width: 70px; }
    .container .four.columns { width: 100px; }
    .container .five.columns { width: 130px; }
    .container .six.columns { width: 160px; }
    .container .seven.columns { width: 190px; }
    .container .eight.columns { width: 220px; }
    .container .nine.columns { width: 250px; }
    .container .ten.columns { width: 280px; }
    .container .eleven.columns { width: 310px; }
    .container .twelve.columns { width: 340px; }
    .container .thirteen.columns { width: 370px; }
    .container .fourteen.columns { width: 400px; }
    .container .fifteen.columns { width: 430px; }
    .container .sixteen.columns { width: 460px; }
	.container .seventeen.columns { width: 490px; }
    .container .eighteen.columns { width: 520px; }
    .container .nineteen.columns { width: 550px; }
    .container .twenty.columns { width: 580px; }
    .container .twenty-one.columns { width: 610px; }
    .container .twenty-two.columns { width: 640px; }
	.container .twenty-three.columns { width: 670px; }
	.container .twenty-four.columns { width: 700px;}

    /*.container .one-third.column { width: 320px; }
    .container .two-thirds.column { width: 640px; }*/

    /* Offsets */
    .container .offset-by-one { padding-left: 30px; }
    .container .offset-by-two { padding-left: 60px; }
    .container .offset-by-three { padding-left: 90px; }
    .container .offset-by-four { padding-left: 120px; }
    .container .offset-by-five { padding-left: 150px; }
    .container .offset-by-six { padding-left: 180px; }
    .container .offset-by-seven { padding-left: 210px; }
    .container .offset-by-eight { padding-left: 240px; }
    .container .offset-by-nine { padding-left: 270px; }
    .container .offset-by-ten { padding-left: 300px; }
    .container .offset-by-eleven { padding-left: 330px; }
    .container .offset-by-twelve { padding-left: 360px; }
    .container .offset-by-thirteen { padding-left: 390px; }
    .container .offset-by-fourteen { padding-left: 420px; }
    .container .offset-by-fifteen { padding-left: 450px; }
	.container .offset-by-sixteen { padding-left: 480px; }
    .container .offset-by-seventeen { padding-left: 510px; }
    .container .offset-by-eightteen { padding-left: 540px; }
    .container .offset-by-nineteen { padding-left: 570px; }
    .container .offset-by-twenty { padding-left: 600px; }
    .container .offset-by-twenty-one { padding-left: 630px; }
    .container .offset-by-twenty-two { padding-left: 660px; }
    .container .offset-by-twenty-three { padding-left:690px; }
    }

/* #Mobile (Portrait) 
/*======================== width < 768px ========================== */
	@media only screen and (max-width: 767px) {		
        .container { width: 100%; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
		.container .one.columns ,
		.container .two.columns ,
		.container .three.columns ,
		.container .four.columns ,
		.container .five.columns ,
		.container .six.columns ,
		.container .seven.columns ,
		.container .eight.columns,
		.container .nine.columns ,
		.container .ten.columns ,
		.container .eleven.columns ,
		.container .twelve.columns ,
		.container .thirteen.columns,
		.container .fourteen.columns ,
		.container .fifteen.columns ,
		.container .sixteen.columns,
		.container .seventeen.columns ,
		.container .eighteen.columns ,
		.container .nineteen.columns ,
		.container .twenty.columns ,
		.container .twenty-one.columns,
		.container .twenty-two.columns,
		.container .twenty-three.columns,
		.container .twenty-four.columns { width: 100%; }

        /* Offsets */
        .container .offset-by-one ,
		.container .offset-by-two ,
		.container .offset-by-three ,
		.container .offset-by-four,
		.container .offset-by-five,
		.container .offset-by-six,
		.container .offset-by-seven,
		.container .offset-by-eight,
		.container .offset-by-nine ,
		.container .offset-by-ten ,
		.container .offset-by-eleven ,
		.container .offset-by-twelve ,
		.container .offset-by-thirteen,
		.container .offset-by-fourteen ,
		.container .offset-by-fifteen ,
		.container .offset-by-sixteen ,
		.container .offset-by-seventeen ,
		.container .offset-by-eightteen ,
		.container .offset-by-nineteen ,
		.container .offset-by-twenty ,
		.container .offset-by-twenty-one ,
		.container .offset-by-twenty-two,
		.container .offset-by-twenty-three { padding-left:0 }
    }
	

/* #Clearing*/

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }