.sidebar-sdf-custom{
	position: relative;
}

.sdf-delete-button:before{
	display: inline-block;
	font: 400 20px/1 dashicons;
	content: "\f158";
	padding: 8px 10px;
	position: relative;
	text-decoration: none !important;
	top: 0;
}
.sdf-delete-button{
	height:24px;
	width: 24px;
	position: absolute;
	top: 4px;
	right: 68px;
	color: #aaaaaa;
}
.sdf-delete-button:hover{
	color: #CB2C21;
}

.sdf-delete-button:hover{
	cursor: pointer;
}

.activate_spinner{
	display: block !important;
	position: absolute;
	top: 10px;
	right: 4px;
	background-color: #ECECEC;
}

.sdf-add-widget{
	padding:  0 15px;
	display: block;
	margin: 10px 0 0;
}
