/*
 * SDF Portfolio Widget
 */

.pfw-label {
  width: 80px;
  display: inline-block;
}

.pfw-tabs {
  border-bottom: 1px solid #CCCCCC !important;
}

/*
 * jQuery UI Tabs 1.8.14
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Tabs#theming
 */
.ui-tabs { position: relative; padding: .2em; zoom: 1;margin-top:25px } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; border-bottom: 1px solid #F8F8F8 !important; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: 0; border-bottom: 1px solid #F8F8F8 !important; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a { outline: none;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 0.3em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-tabs .ui-tabs-nav li a {
  font-weight: 200;
  line-height: 32px;
  color: #AAAAAA;
  padding: 0 15px;
}

.ui-tabs ul.ui-tabs-nav li {
  border-color: #DFDFDF #DFDFDF #FFFFFF;
  border-radius: 3px 3px 0 0;
  border-style: solid;
  border-width: 1px 1px 0;
  color: #AAAAAA;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 -1px 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
}

ul.ui-tabs-nav{
  float: left;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 0;
  width: 100%;
  margin-bottom: 20px !important
}

.ui-state-hover a {
  color: #464646 !important;
}
.ui-state-active a {
  color: #ED941E !important;
}